* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 800px;
}

.main-visual-spring {
  width: 100%;
  height: 200px;
  background-image: url(img/box1.jpg);
  background-position: center;
  background-size: cover;
}

.main-visual-summer {
  width: 100%;
  height: 200px;
  background-image: url(img/box2.jpg);
  background-position: center;
  background-size: cover;
}

.main-visual-autumn {
  width: 100%;
  height: 200px;
  background-image: url(img/box3.jpg);
  background-position: center;
  background-size: cover;
}

.main-visual-wintter {
  width: 100%;
  height: 200px;
  background-image: url(img/box4.jpg);
  background-position: center;
  background-size: cover;
}
